:root {
  --ligth-white: #f5f5f5;
  --white: #cecbca;
  --gray: #2e2e2e;
  --green: #3cb371;
  --red: #ff4136;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--green);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--ligth-white);
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--gray);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input[type="text"] {
  background-color: var(--ligth-white);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 3px;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border: 1px solid var(--green);
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

button {
  width: 30px;
  padding: 10px;
  background-color: var(--green);
  color: var(--ligth-white);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 1;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

button.delete {
  background-color: var(--red);
  color: var(--ligth-white);
}

.complete {
  color: var(--red);
  text-decoration: line-through;
}
